<section class="carousel-slider-main text-center border-top border-bottom bg-white">
    <div class="owl-carousel owl-carousel-slider">
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="assets/img/slider/banner-1.jpg" alt="First slide" style=" width: 1360px; height: 530px;"></a>
       </div>
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="assets/img/slider/banner-2.jpg" alt="First slide" style=" width: 1360px; height: 530px;"></a>
       </div>
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="assets/img/slider/banner-3.jpg" alt="First slide" style=" width: 1360px; height: 530px;"></a>
       </div>
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="assets/img/slider/banner-4.jpg" alt="First slide" style=" width: 1360px; height: 530px;"></a>
       </div>
    </div>
 </section>