<app-slider></app-slider>
 <section class="product-items-slider section-padding">
    <div class="container">
       <div class="section-header">
          <h5 class="heading-design-h5">Món Ăn
             <a class="float-right text-secondary" href="shop.html">View All</a>
          </h5>
       </div>
       <div class="owl-carousel owl-carousel-featured">
          <div class="item" *ngFor = "let item of monans">
             <div class="product">
                   <div class="product-header">
                      <img class="img-fluid" src="{{item.hinh_anh}}" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                     <a [routerLink]="['/detail',item.ma_mon]">
                      <h5>{{item.ten_mon}}</h5>
                     </a>
                   </div>
                   <div class="product-footer">
                      <button type="button" [routerLink]="['/']"  (click)="addToCart(item)" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">{{(item.gia | currency: '').replace('.00','')}} </p>
                   </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="offer-product">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-md-6">
             <a href="#"><img class="img-fluid" src="assets/imgad/1.jpg" alt=""></a>
          </div>
          <div class="col-md-6">
             <a href="#"><img class="img-fluid" src="assets/imgad/2.jpg" alt=""></a>
          </div>
       </div>
    </div>
 </section>
 <section class="product-items-slider section-padding">
    <div class="container">
       <div class="section-header">
          <h5 class="heading-design-h5">Món Ăn Khuyến Mãi
             <a class="float-right text-secondary" href="shop.html">View All</a>
          </h5>
       </div>
       <div class="owl-carousel owl-carousel-featured">
          <div class="item" *ngFor="let m of monan">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      <img class="img-fluid" src="{{m.img}}" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>{{m.ten_mon}}</h5>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">{{(m.gia_km | currency : "").replace('.00','')}}</p>
                   </div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </section>
