<div class="col-md-8" style="margin: auto;">
    <div class="card card-body account-right">
       <div class="widget">
          <div class="section-header">
             <h5 class="heading-design-h5">
                My Profile
             </h5>
          </div>
          <form>
             <div class="col">
                <div class="col-sm-6">
                   <div class="form-group">
                      <label class="control-label">Tên Khách Hàng <span class="required">*</span></label>
                      <input class="form-control border-form-control" value="" placeholder="Tên Khách Hàng" type="text">
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group">
                      <label class="control-label">Ngày Đặt <span class="required">*</span></label>
                     <input class="form-control border-form-control" type="date" value="2021-07-01" min="2020-01-01" max="2021-12-31">
                   </div>
                </div>
               <div class="col-sm-6">
                 <div class="form-group">
                   <label class="control-label">Giờ <span class="required">*</span></label>
                   <input class="form-control border-form-control"  type="time" value="13:30">
                 </div>
               </div>
               <div class="col-sm-6">
                 <div class="form-group">
                   <label class="control-label">Bàn <span class="required">*</span></label>
                   <select class="form-control border-form-control" name="cars" id="cars">
                     <option value="volvo">Bàn 1</option>
                     <option value="saab">Bàn 2</option>
                     <option value="mercedes">Bàn 3</option>
                     <option value="audi">Bàn 4</option>
                   </select>
                 </div>
               </div>
             </div>
<!--             <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                   <div class="form-group">-->
<!--                      <label class="control-label">Phone <span class="required">*</span></label>-->
<!--                      <input class="form-control border-form-control" value="" placeholder="123 456 7890" type="number">-->
<!--                   </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                   <div class="form-group">-->
<!--                      <label class="control-label">Email Address <span class="required">*</span></label>-->
<!--                      <input class="form-control border-form-control " value="" placeholder="iamosahan@gmail.com" disabled="" type="email">-->
<!--                   </div>-->
<!--                </div>-->
<!--             </div>-->
          </form>
       </div>
    </div>
    </div>
