<section class="pt-3 pb-3 page-info section-padding border-bottom bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/"><strong><span class="mdi mdi-home"></span> Trang Chủ</strong></a> <span class="mdi mdi-chevron-right"></span> <a>Thực Đơn</a>
      </div>
    </div>
  </div>
</section>
<section class="shop-list section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="shop-filters">
          <div id="accordion">
            <div class="card" *ngFor="let a of loai">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <a style="font-size: 15px; color: #e96125" [routerLink]="['/category', a.ma_loai]">{{a.ten_loai}}</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="left-ad mt-4">
          <img class="img-fluid" src="http://via.placeholder.com/254x557" alt="">
        </div>
      </div>
      <div class="col-md-9">
        <a href="#"><img class="img-fluid mb-3" src="img/shop.jpg" alt=""></a>
        <div class="shop-head">
          <a href="/"><span class="mdi mdi-home"></span> Trang Chủ</a>  <span class="mdi mdi-chevron-right"></span> <a >Thực Đơn</a>
          <h5 class="mb-3">Thực Đơn</h5>
        </div>
        <div class="row no-gutters">
          <div class="col-md-4" *ngFor="let m of monan">
            <div class="product">
              <a href="single.html">
                <div class="product-header">
                  <img class="img-fluid" src="{{m.hinh_anh}}" alt="">
                  <span class="veg text-success mdi mdi-circle"></span>
                </div>
                <div class="product-body" style="margin-bottom: 10px;">
                  <h5>{{m.ten_mon}}</h5>
                </div>
                <div class="product-footer">
                  <button type="button" class="btn btn-secondary btn-sm float-right" ><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                  <p class="offer-price mb-0" style="margin-left: 0px;">{{(m.gia | currency : "").replace('.00', '')}} </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <nav>
          <ul class="pagination justify-content-center mt-4">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                      <span class="page-link">
                      2
                      <span class="sr-only">(current)</span>
                      </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
